.clients-box {
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #2196f3;
    border-color: #2196f3;
  }
}

.clients {
  .li-item:not(:last-child) {
    margin-right: 30px;
  }

  .clients-icon {
    display: flex;
    justify-content: center;
  }

  .list {
    display: flex;
    justify-content: center;
  }
}
