.contacts-nav {
margin-left: auto;


  li:not(:first-child) {
    margin-left: 50px;
  }

  .link {
    color: $main-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 25px;

    @include transition(color);

    &:hover,
    &:focus {
      color: $hover-color;
    }

    .contacts-icon {
      width: 16px;
      height: 16px;
      fill: #757575;
      margin-right: 10px;

      @include transition(color);
    }
    &:hover .contacts-icon,
    &:focus .contacts-icon {
      fill: $hover-color;
    }
  }
}
