.header-logo {
    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 91px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  
  .logo-blue {
    color: $hover-color;
  }