// colors
$heading-color: #212121;
$main-color: #757575;
$second-color: #ffffff;
$hover-color: #2196f3;
$no-pictures: #C4C4C4;


// cubic and timing
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;